= f.label :entry_date, "Entry Date", class: 'required' 
.form-inline
  = date_select :journal_entry, :entry_date, {start_year: Date.today.year - 1, end_year: Date.today.year, order: [:month, :day, :year], prompt: true}, {class: "form-control"} 

= f.label :past_physical_reflection, "Physical Practice Reflection for Past Week", class: 'required'
= f.text_area :past_physical_reflection, class: 'form-control' 

= f.label :past_mental_reflection, "Mental Practice Reflection for Past Week", class: 'required'
= f.text_area :past_mental_reflection, class: 'form-control' 

= f.label :goal_progress, "Goal Progress", class: 'required'
= f.text_area :goal_progress, class: 'form-control' 

= f.label :half_round, "Half-Round", class: 'required'
= f.text_field :half_round, class: 'form-control' 

= f.label :conditions, "Weather Conditions", class: 'required'
= f.text_field :conditions, class: 'form-control' 

= f.label :coach_advice, "Coach Advice", class: 'required'
= f.text_area :coach_advice, class: 'form-control' 

= f.label :individual_activity_reflection, "Individual Activity Reflection", class: 'required'
= f.text_area :individual_activity_reflection, class: 'form-control' 

= f.label :lesson_reflection, "Lesson Reflection", class: 'required'
= f.text_area :lesson_reflection, class: 'form-control' 

= f.label :what_i_did_well_today, "What I Did Well Today", class: 'required'
= f.text_area :what_i_did_well_today, class: 'form-control' 

= f.label :future_physical_reflection, "Physical Practice Plan for Next Week", class: 'required'
= f.text_area :future_physical_reflection, class: 'form-control' 

= f.label :future_mental_reflection, "Mental Practice Plan for Next Week", class: 'required'
= f.text_area :future_mental_reflection, class: 'form-control' 
