%tr
  %td.nowrap
    = link_to journal_entry.entry_date, journal_entry_path(id: journal_entry, user_id: current_user)
  %td
    = link_to "edit", edit_journal_entry_path(id: journal_entry, user_id: current_user)
    |
    = link_to "delete", journal_entry_path(id: journal_entry, user_id: current_user), method: :delete, data: { confirm: "Are you sure?" }