- provide(:title, "Journal Entry")

%h1= "Journal Entry"

.container
  .row
    .col-md-6.col-md-offset-3
      %ul.nav.nav-tabs#my-tabs.hidden-xs.hidden-sm.hidden-md.hidden-lg
        %li.active
          %a{ "data-toggle" => "tab", :href => "#tab1"} Entry Date
        %li
          %a{ "data-toggle" => "tab", :href => "#tab2"} Last Phys Refl
        %li
          %a{ "data-toggle" => "tab", :href => "#tab3"} Last Ment Refl
        %li
          %a{ "data-toggle" => "tab", :href => "#tab4"} Goal
        %li
          %a{ "data-toggle" => "tab", :href => "#tab5"} Half-Round
        %li
          %a{ "data-toggle" => "tab", :href => "#tab6"} Conditions
        %li
          %a{ "data-toggle" => "tab", :href => "#tab7"} Coach Advice
        %li
          %a{ "data-toggle" => "tab", :href => "#tab8"} Individual Activity
        %li
          %a{ "data-toggle" => "tab", :href => "#tab9"} Lesson Refl
        %li
          %a{ "data-toggle" => "tab", :href => "#tab10"} What I Did Well
        %li
          %a{ "data-toggle" => "tab", :href => "#tab11"} Next Phys Refl
        %li
          %a{ "data-toggle" => "tab", :href => "#tab12"} Next Ment Refl
        %li
          %a{ "data-toggle" => "tab", :href => "#tab13"} Done

      .tab-content
        .tab-pane.fade.in.active#tab1
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Entry Date
            .form-inline
              = date_select :journal_entry, :entry_date, {start_year: Date.today.year - 1, end_year: Date.today.year, order: [:month, :day, :year], prompt: true}, {class: "form-control"} 
              = f.submit "Next", class: "btn-lg btn-primary", id: "next-1"
        .tab-pane.fade#tab2
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Physical Practice Reflection for Past Week
            = f.text_area :past_physical_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-2"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-2"
        .tab-pane.fade#tab3
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Mental Practice Reflection for Past Week
            = f.text_area :past_mental_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-3"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-3"
        .tab-pane.fade#tab4
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Goal Progress
            = f.text_area :goal_progress, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-4"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-4"
        .tab-pane.fade#tab5
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Half-Round
            = f.hidden_field :half_round, id: "arrowstring"
            %table.table.table-striped.center
              %thead
                %tr
                  %th.center
                  %th.center #1
                  %th.center #2
                  %th.center #3
                  %th.center End
                  %th.center Run
              %tbody
                %tr#end1
                  %td
                    %b 1
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr#end2
                  %td
                    %b 2
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr#end3
                  %td 
                    %b 3
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr#end4
                  %td 
                    %b 4
                  %td
                  %td
                  %td
                  %td
                  %td
                %tr#end5
                  %td 
                    %b 5
                  %td
                  %td
                  %td
                  %td
                  %td
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-5"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-5"
            .modal.fade.modal-fade#numberpad
              .modal-dialog
                .modal-content
                  .modal-body
                    %table.table.center
                      %thead
                        %tr
                          %th.center#endtitle{:colspan=>"3", :style=>"border:none"}
                      %tbody
                        %tr{:style=>"height:100px"}
                          %td{:style=>"border:none", :width=>"33%"}
                            .btn-lg.btn-default.btn-block#arr1 _
                          %td{:style=>"border:none", :width=>"33%"}
                            .btn-lg.btn-default.btn-block#arr2 _
                          %td{:style=>"border:none", :width=>"33%"}
                            .btn-lg.btn-default.btn-block#arr3 _
                        %tr
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num1 1
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num2 2
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num3 3
                        %tr
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num4 4
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num5 5
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num6 6
                        %tr
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num7 7
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num8 8
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num9 9
                        %tr
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#numM M
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#num10 10
                          %td{:style=>"border:none"}
                            .btn-lg.btn-primary.btn-block#numX X
                  .modal-footer
                    = f.submit "Save", class: "btn-lg btn-primary", id: "save"
        .tab-pane.fade#tab6
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Weather Conditions
            = f.text_field :conditions, class: 'form-control' 
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-6"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-6"
        .tab-pane.fade#tab7
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Coach Advice
            = f.text_area :coach_advice, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-7"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-7"
        .tab-pane.fade#tab8
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Individual Activity Reflection
            = f.text_area :individual_activity_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-8"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-8"
        .tab-pane.fade#tab9
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Lesson Reflection
            = f.text_area :lesson_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-9"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-9"
        .tab-pane.fade#tab10
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 What I Did Well Today
            = f.text_area :what_i_did_well_today, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-10"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-10"
        .tab-pane.fade#tab11
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true) do |f| 
            %h2 Physical Practice Plan for Next Week
            = f.text_area :future_physical_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-11"
              .col-xs-6
                = f.submit "Next", class: "btn-lg btn-primary", id: "next-11"
        .tab-pane.fade#tab12
          = form_for(@journal_entry, url: update_journal_entry_path(id: @journal_entry, user_id: current_user), remote: true, class: "last-form") do |f| 
            %h2 Mental Practice Plan for Next Week
            = f.text_area :future_mental_reflection, class: 'form-control', rows: "7"
            .row
              .col-xs-6
                = f.submit "Prev", class: "btn-lg btn-primary", id: "prev-12"
              .col-xs-6
                = f.submit "Done", class: "btn-lg btn-primary", id: "next-12"
        .tab-pane.fade#tab13
          %h2 Finished!
          .row
            .col-xs-6
              .btn-lg.btn-primary.btn-block#prev-13 Prev
            .col-xs-6
              %a.btn-lg.btn-primary.btn-block#next-13{:href => "#{journal_entries_url(user_id: @journal_entry.user)}"} Journal

:javascript
  $(document).ready(function(){
    pos = 0;
    end = 0;
    arrow1 = "_";
    arrow2 = "_";
    arrow3 = "_";
    arrows = "___";
    updateScorecard();
    $("#next-1").on("click", function(event) {
      $('#my-tabs a[href="#tab2"]').tab('show')
    });
    $("#next-2").on("click", function(event) {
      $('#my-tabs a[href="#tab3"]').tab('show')
    });
    $("#next-3").on("click", function(event) {
      $('#my-tabs a[href="#tab4"]').tab('show')
    });
    $("#next-4").on("click", function(event) {
      $('#my-tabs a[href="#tab5"]').tab('show')
    });
    $("#next-5").on("click", function(event) {
      $('#my-tabs a[href="#tab6"]').tab('show')
    });
    $("#next-6").on("click", function(event) {
      $('#my-tabs a[href="#tab7"]').tab('show')
    });
    $("#next-7").on("click", function(event) {
      $('#my-tabs a[href="#tab8"]').tab('show')
    });
    $("#next-8").on("click", function(event) {
      $('#my-tabs a[href="#tab9"]').tab('show')
    });
    $("#next-9").on("click", function(event) {
      $('#my-tabs a[href="#tab10"]').tab('show')
    });
    $("#next-10").on("click", function(event) {
      $('#my-tabs a[href="#tab11"]').tab('show')
    });
    $("#next-11").on("click", function(event) {
      $('#my-tabs a[href="#tab12"]').tab('show')
    });
    $("#next-12").on("click", function(event) {
      $('#my-tabs a[href="#tab13"]').tab('show')
    });
    $("#prev-2").on("click", function(event) {
      $('#my-tabs a[href="#tab1"]').tab('show')
    });
    $("#prev-3").on("click", function(event) {
      $('#my-tabs a[href="#tab2"]').tab('show')
    });
    $("#prev-4").on("click", function(event) {
      $('#my-tabs a[href="#tab3"]').tab('show')
    });
    $("#prev-5").on("click", function(event) {
      $('#my-tabs a[href="#tab4"]').tab('show')
    });
    $("#prev-6").on("click", function(event) {
      $('#my-tabs a[href="#tab5"]').tab('show')
    });
    $("#prev-7").on("click", function(event) {
      $('#my-tabs a[href="#tab6"]').tab('show')
    });
    $("#prev-8").on("click", function(event) {
      $('#my-tabs a[href="#tab7"]').tab('show')
    });
    $("#prev-9").on("click", function(event) {
      $('#my-tabs a[href="#tab8"]').tab('show')
    });
    $("#prev-10").on("click", function(event) {
      $('#my-tabs a[href="#tab9"]').tab('show')
    });
    $("#prev-11").on("click", function(event) {
      $('#my-tabs a[href="#tab10"]').tab('show')
    });
    $("#prev-12").on("click", function(event) {
      $('#my-tabs a[href="#tab11"]').tab('show')
    });
    $("#prev-13").on("click", function(event) {
      $('#my-tabs a[href="#tab12"]').tab('show')
    });
    $("#end1").on("click", function(event) {
      end = 0;
      pos = 0;
      arrows = $('#arrowstring').val().substr(end*3,end*3+3);
      $('#numberpad').modal('show');
      updateNumpad(0);
      $('#endtitle').html("End 1");
    });
    $("#end2").on("click", function(event) {
      end = 1;
      pos = 0;
      arrows = $('#arrowstring').val().substr(end*3,end*3+3);
      $('#numberpad').modal('show');
      updateNumpad(1);
      $('#endtitle').html("End 2");
    });
    $("#end3").on("click", function(event) {
      end = 2;
      pos = 0;
      arrows = $('#arrowstring').val().substr(end*3,end*3+3);
      $('#numberpad').modal('show');
      updateNumpad(2);
      $('#endtitle').html("End 3");
    });
    $("#end4").on("click", function(event) {
      end = 3;
      pos = 0;
      arrows = $('#arrowstring').val().substr(end*3,end*3+3);
      $('#numberpad').modal('show');
      updateNumpad(3);
      $('#endtitle').html("End 4");
    });
    $("#end5").on("click", function(event) {
      end = 4;
      pos = 0;
      arrows = $('#arrowstring').val().substring(end*3,end*3+3);
      $('#numberpad').modal('show');
      updateNumpad(4);
      $('#endtitle').html("End 5");
    });
    $("#num1").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"1");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num2").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"2");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num3").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"3");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num4").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"4");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num5").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"5");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num6").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"6");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num7").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"7");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num8").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"8");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num9").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"9");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#numM").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"M");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#num10").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"T");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#numX").on("click", function (event) {
      arrows = setCharAt(arrows,pos,"X");
      if(pos < 2) {pos = pos + 1;}
      updateNumpad(end);
    });
    $("#save").on("click", function (event) {
      $('#arrowstring').val(setCharAt($('#arrowstring').val(), end*3, arrows.charAt(0)));
      $('#arrowstring').val(setCharAt($('#arrowstring').val(), end*3+1, arrows.charAt(1)));
      $('#arrowstring').val(setCharAt($('#arrowstring').val(), end*3+2, arrows.charAt(2)));
      $('#numberpad').modal('hide');
    });
    $("#arr1").on("click", function(event) {
      pos = 0;
    });
    $("#arr2").on("click", function(event) {
      pos = 1;
    });
    $("#arr3").on("click", function(event) {
      pos = 2;
    });
    $('#numberpad').on("hide.bs.modal", function(event) {
      updateScorecard();
    });
  });
  
  function setCharAt(str,index,chr) {
      if(index > str.length-1) return str;
      return str.substr(0,index) + chr + str.substr(index+1);
  };
  
  function decodeArrow(chr) {
    if(chr.length == 1) {
      if(chr === "T") {
        return "10";
      } else if (chr === "M" || chr === "X" || chr === "1" || chr === "2" || chr === "3" || chr === "4" || 
                 chr === "5" || chr === "6" || chr === "7" || chr === "8" || chr === "9") {
        return chr;
      }
    }
    return "_";
  };
  
  function arrowValue(chr) {
    if(chr.length == 1) {
      if(chr === "T" || chr === "X") {
        return 10;
      } else if (chr === "1" || chr === "2" || chr === "3" || chr === "4" || chr === "5" || 
                 chr === "6" || chr === "7" || chr === "8" || chr === "9") {
        return Number(chr);
      }
    }
    return 0;
  };
  
  function updateNumpad() {
    $('#arr1').html(decodeArrow(arrows.charAt(0)));
    $('#arr2').html(decodeArrow(arrows.charAt(1)));
    $('#arr3').html(decodeArrow(arrows.charAt(2)));
  };
  
  function updateScorecard() {
    arrowstring = $("#arrowstring").val();
    end1_total = arrowValue(arrowstring.charAt(0)) + arrowValue(arrowstring.charAt(1)) + arrowValue(arrowstring.charAt(2));
    end2_total = arrowValue(arrowstring.charAt(3)) + arrowValue(arrowstring.charAt(4)) + arrowValue(arrowstring.charAt(5));
    end3_total = arrowValue(arrowstring.charAt(6)) + arrowValue(arrowstring.charAt(7)) + arrowValue(arrowstring.charAt(8));
    end4_total = arrowValue(arrowstring.charAt(9)) + arrowValue(arrowstring.charAt(10)) + arrowValue(arrowstring.charAt(11));
    end5_total = arrowValue(arrowstring.charAt(12)) + arrowValue(arrowstring.charAt(13)) + arrowValue(arrowstring.charAt(14));
    $("#end1 td:eq(1)").html(decodeArrow(arrowstring.charAt(0)));
    $("#end1 td:eq(2)").html(decodeArrow(arrowstring.charAt(1)));
    $("#end1 td:eq(3)").html(decodeArrow(arrowstring.charAt(2)));
    $("#end1 td:eq(4)").html(end1_total);
    $("#end1 td:eq(5)").html(end1_total);
    $("#end2 td:eq(1)").html(decodeArrow(arrowstring.charAt(3)));
    $("#end2 td:eq(2)").html(decodeArrow(arrowstring.charAt(4)));
    $("#end2 td:eq(3)").html(decodeArrow(arrowstring.charAt(5)));
    $("#end2 td:eq(4)").html(end2_total);
    $("#end2 td:eq(5)").html(end1_total + end2_total);
    $("#end3 td:eq(1)").html(decodeArrow(arrowstring.charAt(6)));
    $("#end3 td:eq(2)").html(decodeArrow(arrowstring.charAt(7)));
    $("#end3 td:eq(3)").html(decodeArrow(arrowstring.charAt(8)));
    $("#end3 td:eq(4)").html(end3_total);
    $("#end3 td:eq(5)").html(end1_total + end2_total + end3_total);
    $("#end4 td:eq(1)").html(decodeArrow(arrowstring.charAt(9)));
    $("#end4 td:eq(2)").html(decodeArrow(arrowstring.charAt(10)));
    $("#end4 td:eq(3)").html(decodeArrow(arrowstring.charAt(11)));
    $("#end4 td:eq(4)").html(end4_total);
    $("#end4 td:eq(5)").html(end1_total + end2_total + end3_total + end4_total);
    $("#end5 td:eq(1)").html(decodeArrow(arrowstring.charAt(12)));
    $("#end5 td:eq(2)").html(decodeArrow(arrowstring.charAt(13)));
    $("#end5 td:eq(3)").html(decodeArrow(arrowstring.charAt(14)));
    $("#end5 td:eq(4)").html(end5_total);
    $("#end5 td:eq(5)").html(end1_total + end2_total + end3_total + end4_total + end5_total);
  };
  