- provide(:title, "Archer's Journal")
.row
  .col-md-6.col-md-offset-3
    = form_for(@journal_entry) do |f| 
      = render 'shared/error_messages', object: f.object 
      = f.submit "Add New Entry", class: "btn btn-primary" 
    %br
    .panel.generic-panel
      .panel-heading
        %h3.panel-title.center= "Archer's Journal"
      %table.table.center
        %tr
          %th.center= sortable "entry_date", "Date"
          %th.center= "Modify"
        = render @journal_entries || "No Entries"
    .center
      = will_paginate