- provide(:title, @journal_entry.entry_date)
.row
  .col-md-6.col-md-offset-3
    .panel.generic-panel
      .panel-heading
        %h3.panel-title.center Journal Entry
      %table.table
        = table_row_helper("Entry Date", @journal_entry.entry_date)
        = table_row_helper("Physical Practice Reflection for Past Week", @journal_entry.past_physical_reflection || "Nothing Entered")
        = table_row_helper("Mental Practice Reflection for Past Week", @journal_entry.past_mental_reflection || "Nothing Entered")
        = table_row_helper("Goal Progress", @journal_entry.goal_progress || "Nothing Entered")
        %tr
          %td 
            %b Half-Round
          %td
            %table.table.table-striped.center
              %thead
                %tr
                  %th.center
                  %th.center #1
                  %th.center #2
                  %th.center #3
                  %th.center End
                  %th.center Run
              %tbody
                %tr#end1
                  %td
                    %b 1
                  %td= @journal_entry.decodeArrowAt(0)
                  %td= @journal_entry.decodeArrowAt(1)
                  %td= @journal_entry.decodeArrowAt(2)
                  %td= end1 = @journal_entry.arrowValueAt(0) + @journal_entry.arrowValueAt(1) + @journal_entry.arrowValueAt(2)
                  %td= end1
                %tr#end2
                  %td
                    %b 2
                  %td= @journal_entry.decodeArrowAt(3)
                  %td= @journal_entry.decodeArrowAt(4)
                  %td= @journal_entry.decodeArrowAt(5)
                  %td= end2 = @journal_entry.arrowValueAt(3) + @journal_entry.arrowValueAt(4) + @journal_entry.arrowValueAt(5)
                  %td= end1 + end2
                %tr#end3
                  %td 
                    %b 3
                  %td= @journal_entry.decodeArrowAt(6)
                  %td= @journal_entry.decodeArrowAt(7)
                  %td= @journal_entry.decodeArrowAt(8)
                  %td= end3 = @journal_entry.arrowValueAt(6) + @journal_entry.arrowValueAt(7) + @journal_entry.arrowValueAt(8)
                  %td= end1 + end2 + end3
                %tr#end4
                  %td 
                    %b 4
                  %td= @journal_entry.decodeArrowAt(9)
                  %td= @journal_entry.decodeArrowAt(10)
                  %td= @journal_entry.decodeArrowAt(11)
                  %td= end4 = @journal_entry.arrowValueAt(9) + @journal_entry.arrowValueAt(10) + @journal_entry.arrowValueAt(11)
                  %td= end1 + end2 + end3 + end4
                %tr#end5
                  %td 
                    %b 5
                  %td= @journal_entry.decodeArrowAt(12)
                  %td= @journal_entry.decodeArrowAt(13)
                  %td= @journal_entry.decodeArrowAt(14)
                  %td= end5 = @journal_entry.arrowValueAt(12) + @journal_entry.arrowValueAt(13) + @journal_entry.arrowValueAt(14)
                  %td= end1 + end2 + end3 + end4 + end5
        = table_row_helper("Weather Conditions", @journal_entry.conditions || "Nothing Entered")
        = table_row_helper("Coach Advice", @journal_entry.coach_advice || "Nothing Entered")
        = table_row_helper("Individual Activity Reflection", @journal_entry.individual_activity_reflection || "Nothing Entered")
        = table_row_helper("Lesson Reflection", @journal_entry.lesson_reflection || "Nothing Entered")
        = table_row_helper("What I Did Well Today", @journal_entry.what_i_did_well_today || "Nothing Entered")
        = table_row_helper("Physical Practice Plan for Next Week", @journal_entry.future_physical_reflection || "Nothing Entered")
        = table_row_helper("Mental Practice Plan for Next Week", @journal_entry.future_mental_reflection || "Nothing Entered")
