- provide(:title, t('.title'))
%h1= t('.title')

.row
  .col-md-6.col-md-offset-3
    = form_for(:session, url: login_path) do |f| 
      
      = f.label :email 
      = f.email_field :email, class: 'form-control' 
      
      = f.label :password 
      = link_to t('.forgot_password'), new_password_reset_path 
      = f.password_field :password, class: 'form-control' 
      
      = f.label :remember_me, class: "checkbox inline" do 
        = f.check_box :remember_me 
        <span>#{ t('.remember_me') }</span>

      = f.submit t('.login'), class: "btn btn-primary" 

    %p #{ t('.new_user') } #{ link_to t('.sign_up'), signup_path }
