- provide(:title, t('.title'))
%h1= t('.title')
.row
  .col-md-6.col-md-offset-3
    = form_for(:password_reset, url: password_resets_path) do |f| 
      
      = f.label :email 
      = f.email_field :email, class: 'form-control' 
      
      = f.submit t('.submit'), class: "btn btn-primary" 