= f.label :first_name, t('users.form_info.first_name'), class: 'required'
= f.text_field :first_name, class: 'form-control' 

= f.label :last_name, t('users.form_info.last_name'), class: 'required'
= f.text_field :last_name, class: 'form-control' 

= f.label :email, t('users.form_info.email'), class: 'required'
= f.email_field :email, class: 'form-control' 

= f.label :password, t('users.form_info.password'), class: 'required'
= f.password_field :password, class: 'form-control' 

= f.label :password_confirmation, t('users.form_info.password_confirm'), class: 'required'
= f.password_field :password_confirmation, class: 'form-control' 
