%tr
  %td.nowrap
    = link_to user.first_name, user
  %td.nowrap
    = link_to user.last_name, user
  %td.nowrap
    = link_to user.email, user
  - if current_user.admin? && !current_user?(user)
    %td= link_to t('users.partial.delete'), user, method: :delete, data: { confirm: t('users.partial.confirm') }
  - else
    %td= ""