- provide(:title, t('.title'))

%h1= t('.header')

.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f| 
      = render 'shared/error_messages', object: f.object 
      = render 'form_info', :f => f
      = f.submit t('.save'), class: "btn btn-primary" 