- provide(:title, t('.title'))
.row
  .col-md-6.col-md-offset-3
    .panel.generic-panel
      .panel-heading
        %h3.panel-title.center= t('.title')
      %table.table
        %tr
          %th= sortable "first_name", t('.first_name')
          %th= sortable "last_name", t('.last_name')
          %th= sortable "email", t('.email')
          - if !current_user.nil? && current_user.admin?
            %th= t('.delete')
        = render @users
    .center
      = will_paginate