- provide(:title, t('.title'))
%h1= t('.title')

.row
  .col-md-6.col-md-offset-3
    = form_for(@user) do |f| 
      = render 'shared/error_messages', object: f.object 
      = render 'form_info', :f => f
      = f.submit t('.create'), class: "btn btn-primary" 
      /= invisible_recaptcha_tags text: 'Create My Account', class: "btn btn-primary btn-block"