- provide(:title, @user.first_name)
.row
  %aside.col-md-3
    .panel.generic-panel
      .panel-heading
        %h3.panel-title.center
          = t('.profile') + @user.full_name
      .panel-body
        %u 
          %b= t('.quick_links')
        %br
        %br
        - if current_user?(@user) || current_user.admin?
          %p
            = link_to t('.edit_profile'), edit_user_path(@user)
          %p
            = link_to @user.first_name + "'s Journal", journal_entries_url(user_id: @user)

  .col-md-6
    .panel.generic-panel
      .panel-heading
        %h3.panel-title.center= t('.profile_info')
      %table.table
        = table_row_helper(t('.first_name'), @user.first_name)
        = table_row_helper(t('.last_name'), @user.last_name)

  %aside.col-md-3
    - if !current_user.nil? && current_user.admin?
      .panel.admin-panel
        .panel-heading
          %h3.panel-title.center= t('.admin_panel')
        .panel-body
          - if !current_user?(@user)
            = link_to t('.login_as'), {controller: "sessions", action: "login_as"}, {class: "btn btn-warning center-block", role: "button"}
            %br
            = form_tag users_promote_path do
              = hidden_field_tag :user_id, @user.id
              - if @user.admin
                %input.btn.btn-danger{:type => "submit", :value => t('.demote'), data: { confirm: t('.demote_confirmation', :name => @user.full_name) }}
              - else
                %input.btn.btn-danger{:type => "submit", :value => t('.promote'), data: { confirm: t('.promote_confirmation', :name => @user.full_name) }}
          - else
            %p No available actions
            
            
            