- if object.errors.any?
  #error_explanation
    .alert.alert-danger
      = t(:error_message, :count => object.errors.count)
    %ul
      - object.errors.full_messages.each do |msg|
        %li
          = msg