%nav.navbar.navbar-static-top.navbar-inverse
  .container
    .navbar-header
      = link_to t('application_title'), root_path, class: "navbar-brand", id: "logo"
      %button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-dropdown-1" aria-expanded="false")
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    .collapse.navbar-collapse(id="nav-dropdown-1")
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to t('header.home'), root_path
        - if logged_in?
          %li= link_to "Journal", journal_entries_url(user_id: current_user)
          %li= link_to t('header.profile'), current_user
          %li.dropdown
            %a(href="#" class="dropdown-toggle" data-toggle="dropdown")
              = t('header.dropdown_name')
              %b.caret
            %ul.dropdown-menu
              %li= link_to t('header.settings'), edit_user_path(current_user)
              %li.divider
              %li= link_to t('header.logout'), logout_path, method: :delete
          - if !current_user.nil? && current_user.admin?
            %li
              = link_to t('header.users'), users_path
        - else
          %li= link_to t('header.login'), login_path
