!!! 5

%html
  %head
  %title #{ full_title(yield(:title)) }
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags
  %body
    = render 'layouts/header'
    .container
      - flash.each do |message_type, messages|
        .alert{:class => "alert-#{message_type}"}
          - messages.each do |msg|
            %ul
              %li
                = msg
      = yield
      = render 'layouts/footer'
      = debug(params) if Rails.env.development?